@using WorkTicketApp.Models
@using Microsoft.AspNetCore.Components.Forms

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="ticketNumber" class="form-label">Ticket Number</label>
        <InputText id="ticketNumber" class="form-control" @bind-Value="Model.TicketNumber" />
        <ValidationMessage For="@(() => Model.TicketNumber)" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="costCentre" class="form-label">Cost Centre</label>
        <InputText id="costCentre" class="form-control" @bind-Value="Model.CostCentre" />
        <ValidationMessage For="@(() => Model.CostCentre)" />
    </div>
</div>

<div class="mb-3">
    <label for="activity" class="form-label">Activity</label>
    <InputText id="activity" class="form-control" @bind-Value="Model.Activity" />
    <ValidationMessage For="@(() => Model.Activity)" />
</div>

<div class="row">
    <div class="col-md-8 mb-3">
        <label for="operatorName" class="form-label">Operator Name</label>
        <InputText id="operatorName" class="form-control" @bind-Value="Model.OperatorName" />
        <ValidationMessage For="@(() => Model.OperatorName)" />
    </div>
    <div class="col-md-4 mb-3">
        <label for="numOperators" class="form-label"># of Operators</label>
        <InputNumber id="numOperators" class="form-control" @bind-Value="Model.NumOperators" />
        <ValidationMessage For="@(() => Model.NumOperators)" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="startDateTime" class="form-label">Start Date & Time</label>
        <InputText id="startDateTime" class="form-control" @bind-Value="Model.StartDateTime" placeholder="YYYY-MM-DD HH:mm" />
        <ValidationMessage For="@(() => Model.StartDateTime)" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="startCounter" class="form-label">Start Counter</label>
        <InputNumber id="startCounter" class="form-control" @bind-Value="Model.StartCounter" />
        <ValidationMessage For="@(() => Model.StartCounter)" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="endDateTime" class="form-label">End Date & Time</label>
        <InputText id="endDateTime" class="form-control" @bind-Value="Model.EndDateTime" placeholder="YYYY-MM-DD HH:mm" />
        <ValidationMessage For="@(() => Model.EndDateTime)" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="endCounter" class="form-label">End Counter</label>
        <InputNumber id="endCounter" class="form-control" @bind-Value="Model.EndCounter" />
        <ValidationMessage For="@(() => Model.EndCounter)" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="quantityIn" class="form-label">Quantity In</label>
        <InputNumber id="quantityIn" class="form-control" @bind-Value="Model.QuantityIn" />
        <ValidationMessage For="@(() => Model.QuantityIn)" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="quantityOut" class="form-label">Quantity Out</label>
        <InputNumber id="quantityOut" class="form-control" @bind-Value="Model.QuantityOut" />
        <ValidationMessage For="@(() => Model.QuantityOut)" />
    </div>
</div>

<div class="mb-3">
    <label for="materialUsed" class="form-label">Material Used</label>
    <InputTextArea id="materialUsed" class="form-control" @bind-Value="Model.MaterialUsed" />
    <ValidationMessage For="@(() => Model.MaterialUsed)" />
</div>

@code {
    [Parameter, EditorRequired]
    public WorkTicket Model { get; set; } = default!;
}